@tailwind base;
@tailwind components;
@tailwind utilities;

/* font imports */
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");

/* Add this to your main CSS file */
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

:root {
  --primary-color: #b48e40;
  --font-arima: "Arima", sans-serif;
}

body {
  --primary-color: #b48e40;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
