@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-arima-madurai-solid: "Arima Madurai Solid", sans-serif;
  --font-arima-madurai-regular: "Arima Madurai Regular", sans-serif;
  --font-arima-madurai-light: "Arima Madurai Light", sans-serif;
  --font-arima-madurai-brand: "Arima Madurai Brand", sans-serif;
  --primary-color: #b48e40;
}

body {
  --primary-color: #b48e40;
  font-family: var(--font-arima-madurai-regular);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
